
/* CSS Document */

body {
margin:0;
background-color:#2C2D25;
}

#wrapper {
width:1270px;
height:auto;
margin:0 auto;
}

#contain_header {
width:1270px;
height:128px;
float:left;

}
#contain_menu {
width:1255px;
height:60px;
float:left;
margin:0 6px 0 9px;
background:url(../images/menu_bg.jpg) repeat-x;

}

.menudiv {
width:50px;
height:60px;
float:left;
text-align:right;
margin-right:10px;
}
.menudiv1 {
width:90px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv2 {
width:80px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv3 {
width:70px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv4 {
width:60px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv5 {
width:120px;
height:40px;
float:left;
padding-top:20px;
}

.menudiv6 {
width:60px;
height:40px;
float:left;
padding-top:20px;
}


.menudiv7 {
width:120px;
height:40px;
float:left;
padding-top:20px;
}

#contain_body {
width:1255px;
height:1000px;
float:left;
margin:0 6px 0 9px;
background-color:#F2F2F2;

}

#leftmenu {
width:280px;
height:auto;
float:left;
margin:0px 25px 0 25px;
}

#bodycontent {
width:900px;
height:560px;
float:left;
margin:0px 15px 0 0px;
}

#bdy_cont1 {
width:827px;
height:30px;
float:left;
margin-top:20px;
}

#topicon1 {
width:47px;
height:24px;
float:left;
padding-top:6px;
text-align:center;
}
#topicon2{
width:730px;
height:24px;
float:left;
padding-top:6px;
}
#topicon3 {
width:25px;
height:24px;
float:left;
padding-top:6px;
text-align:left;
}

#topicon4 {
width:25px;
height:24px;
float:left;
padding-top:6px;
text-align:left;
}

#bdy_cont2 {
width:827px;
height:20px;
float:left;
background:url(../images/body_line.jpg) repeat-x;
}

#bdy_cont3 {
width:827px;
height:21px;
float:left;
}
#bdy_cont4 {
width:825px;
height:200px;
float:left;
background-color:#fff;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;
}

#bdy_cont4_2 {
width:825px;
height:500px;
float:left;
background-color:#fff;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;
}

#bdy_cont4_4 {
width:825px;
height:620px;
float:left;
background-color:#fff;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;
}

#bdy_cont4_3 {
width:825px;
height:800px;
float:left;
background-color:#fff;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;
}


#bdy_cont4_2_1 {
width:2000px;
height:500px;
float:left;
background-color:#fff;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;
}

#bdy_cont5{
width:827px;
height:21px;
float:left;
}

#customer  {
width:280px;
height:49px;
float:left;
margin-top:20px;
background:url(../images/lft_hdr_menu.jpg) no-repeat;
}


#custimg  {
width:70px;
height:35px;
float:left;
text-align:center;
}

#custtxt  {
width:210px;
height:27px;
float:left;
padding-top:8px;

}

a.custtxt  {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:none;
color:#fff;
}

a.custtxt:hover  {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:underline;
color:#FFFF00;
}



#customer1  {
width:268px;
height:126px;
float:left;
background:url(../images/lft_bd_bg.jpg) repeat-x;
border-left:1px solid #DBDBDB;
border-right:1px solid #DBDBDB;
border-bottom:1px solid #DBDBDB;
padding-left:10px;
}


#customer2  {
width:268px;
height:220px;
float:left;
background:url(../images/lft_bd_bg.jpg) repeat-x;
border-left:1px solid #DBDBDB;
border-right:1px solid #DBDBDB;
border-bottom:1px solid #DBDBDB;
padding-left:10px;
}



#contain_footer {
width:1255px;
height:36px;
float:left;
margin:0 6px 10px 9px;
background:url(../images/footer_bg.jpg) repeat-x;
padding-top:14px;
text-align:center;

}

.txtcontent1 {
font-family:Verdana;
font-size:11px;
font-weight:normal;
float:left;
text-decoration:none;
color:#696969;
line-height:16px;

}
.footercont {
font-family:Verdana;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#696969;
line-height:16px;
text-align:center;

}


a.more {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:none;
color:#3780B3;
line-height:16px;
float:right;
padding-right:15px;

}

a.more:hover {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:underline;
color:#3780B3;
line-height:16px;
float:right;
padding-right:15px;

}


.top10 {
font-family:arial;
font-size:16px;
font-weight:bold;
float:left;
text-decoration:none;
color:#32281E;
}

a.menutxt {
font-family:arial;
font-size:14px;
font-weight:bold;
float:left;
text-decoration:none;
color:#32281E;
}

a.menutxt:hover {
font-family:arial;
font-size:14px;
font-weight:bold;
float:left;
text-decoration:none;
color:#0099CC;
}


a.menutxt2 {
font-family:arial;
font-size:14px;
font-weight:bold;
text-decoration:none;
color:#32281E;
}

a.menutxt2:hover {
font-family:arial;
font-size:14px;
font-weight:bold;
text-decoration:none;
color:#0099CC;
}

a.linktxt {
font-family:Verdana;
font-size:11px;
font-weight:bold;
float:left;
text-decoration:none;
color:#696969;
}

a.linktxt:hover {
font-family:Verdana;
font-size:11px;
font-weight:bold;
float:left;
text-decoration:none;
color:#696969;
}

.button_text_reg {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Sans-serif;
	font-style: normal;
	text-align: center;
	padding: 5px 5px 5px 25px;
	text-decoration: none;
}

.loginbold2 {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	float: left;
}

.error {
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}

.headertext{
width:602px;
height:auto;
float:left;
padding:0 0 0 80px;
}
.menutext1 {
       font-family:Arial;
       color:#333333;
       font-size:11px;
       font-weight:bold;
       float:left;
       padding-left:5px;
       text-decoration: none;
       
}

.tbltext {
       font-family:Arial;
       color:#333333;
       font-size:15px;
       font-weight:bold;
       text-decoration: none;
       
}

a.menutext1 {
       font-family:Arial;
       color:#333333;
       font-size:11px;
       font-weight:bold;
       float:left;
       padding-left:5px;
       text-decoration: none;
       
}



a.menutext1:hover {
       font-family:Arial;
       color:#333333;
       font-size:11px;
       font-weight:bold;
       float:left;
       padding-left:5px;
       text-decoration: underline;
       
}

.menutext-h1 {
       font-family:verdana;
       color:#7F8A56;
       font-size:12px;
       font-weight:bold;
       padding-left:5px;
       text-align:right;
}

.loginsmall {
       font-family: verdana;
       font-size: 12px;
       font-weight: normal;
       color: #2C616B;
       float: left;
}

.leftmenu_link{
text-align: left;
font-family: Arial;
font-size:14px;
font-weight:normal;
color:#0075E2;
text-decoration: none;	
}

.tbltxt{
text-align: left;
font-family: Arial;
font-size:12px;
font-weight:normal;
color:#141414;
text-decoration: none;
padding-left:5px;
}

.leftmenu_link:hover{
text-decoration: underline;
color:#000000;
padding-left:5px;
}

.tbltxt:hover{
text-decoration: underline;
color:#141414;
}
.tblHtxt{
text-align: left;
font-family: Arial;
font-size:12px;
font-weight:bold;
color:#ffffff;
text-decoration: none;
padding-left:5px;
}

.tblHtxt1{
text-align: center;
font-family: Arial;
font-size:15px;
font-weight:bold;
color:#ffffff;
text-decoration: none;
padding-left:5px;
}




/* CSS Document */

body {
margin:0;
background-color:#2C2D25;
}

#wrapper {
width:1270px;
height:auto;
margin:0 auto;
}

#contain_header {
width:1270px;
height:128px;
float:left;

}
#contain_menu {
width:1255px;
height:60px;
float:left;
margin:0 6px 0 9px;
background:url(../images/menu_bg.jpg) repeat-x;

}

.menudiv {
width:50px;
height:60px;
float:left;
text-align:right;
margin-right:10px;
}
.menudiv1 {
width:90px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv2 {
width:80px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv3 {
width:70px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv4 {
width:60px;
height:40px;
float:left;
padding-top:20px;
}
.menudiv5 {
width:110px;
height:40px;
float:left;
padding-top:20px;
}

.menudiv6{
width:70px;
height:40px;
float:left;
padding-top:20px;
}



#contain_body {
width:1255px;
height:1000px;
float:left;
margin:0 6px 0 9px;
background-color:#F2F2F2;

}

#leftmenu {
width:280px;
height:auto;
float:left;
margin:0px 25px 0 25px;
}

#bodycontent {
width:900px;
height:560px;
float:left;
margin:0px 15px 0 0px;
}

#bodycontent_defect {
width:1200px;
height:560px;
float:left;
margin:0px 0px 0 30px;
}


#bdy_cont1 {
width:827px;
height:30px;
float:left;
margin-top:20px;
}

#topicon1 {
width:47px;
height:24px;
float:left;
padding-top:6px;
text-align:center;
}
#topicon2{
width:730px;
height:24px;
float:left;
padding-top:6px;
}
#topicon3 {
width:25px;
height:24px;
float:left;
padding-top:6px;
text-align:left;
}

#topicon4 {
width:25px;
height:24px;
float:left;
padding-top:6px;
text-align:left;
}

#bdy_cont2 {
width:827px;
height:20px;
float:left;
background:url(../images/body_line.jpg) repeat-x;
}

#bdy_cont3 {
width:827px;
height:21px;
float:left;
}
#bdy_cont4 {
width:825px;
height:200px;
float:left;
background-color:#fff;
border-left:1px solid #dddddd;
border-right:1px solid #dddddd;
}


#bdy_contdefect {
width:1200px;
height:auto;
float:left;
background-color:#fff;

}

#bdy_cont5{
width:827px;
height:21px;
float:left;
}

#customer  {
width:280px;
height:49px;
float:left;
margin-top:20px;
background:url(../images/lft_hdr_menu.jpg) no-repeat;
}


#custimg  {
width:70px;
height:35px;
float:left;
text-align:center;
}

#custtxt  {
width:210px;
height:27px;
float:left;
padding-top:8px;

}

a.custtxt  {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:none;
color:#fff;
}

a.custtxt:hover  {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:underline;
color:#FFFF00;
}



#customer1  {
width:268px;
height:126px;
float:left;
background:url(../images/lft_bd_bg.jpg) repeat-x;
border-left:1px solid #DBDBDB;
border-right:1px solid #DBDBDB;
border-bottom:1px solid #DBDBDB;
padding-left:10px;
}



#contain_footer {
width:1255px;
height:36px;
float:left;
margin:0 6px 10px 9px;
background:url(../images/footer_bg.jpg) repeat-x;
padding-top:14px;
text-align:center;

}

.txtcontent1 {
font-family:Verdana;
font-size:11px;
font-weight:normal;
float:left;
text-decoration:none;
color:#696969;
line-height:16px;
width:250px;

}
.footercont {
font-family:Verdana;
font-size:11px;
font-weight:normal;
text-decoration:none;
color:#696969;
line-height:16px;
text-align:center;

}


a.more {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:none;
color:#3780B3;
line-height:16px;
float:right;
padding-right:15px;

}

a.more:hover {
font-family:Verdana;
font-size:12px;
font-weight:bold;
float:left;
text-decoration:underline;
color:#3780B3;
line-height:16px;
float:right;
padding-right:15px;

}


.top10 {
font-family:arial;
font-size:16px;
font-weight:bold;
float:left;
text-decoration:none;
color:#32281E;
}

a.menutxt {
font-family:arial;
font-size:14px;
font-weight:bold;
float:left;
text-decoration:none;
color:#32281E;
}

a.menutxt:hover {
font-family:arial;
font-size:14px;
font-weight:bold;
float:left;
text-decoration:none;
color:#0099CC;
}




<!--start login css-->

#bodycontent_login {
width:900px;
height:360px;
float:left;
margin:0px 15px 0 0px;
}

#contain_body_login {
width:1255px;
height:400px;
float:left;
margin:0 6px 0 9px;
background-color:#F2F2F2;

}

.menutext-h1 {
	font-family:verdana;
	color:#7F8A56;
	font-size:12px;
	font-weight:bold;
	float:left;
	padding-left:5px;
	text-align:center;
	
}


a.me{
	font-family:verdana;
	color:#616F2B;
	font-size:9px;
	font-weight:bold;
	float:left;
	text-align:center;
	text-decoration:none;
	display:inline;
	
}

a.me:hover{
	font-family:verdana;
	color:#666666;
	font-size:9px;
	font-weight:bold;
	float:left;
	text-align:center;
	text-decoration:underline;
	display:inline;
	
}

a.forgot{
	font-family:verdana;
	color:#616F2B;
	font-size:10px;
	font-weight:bold;
	float:left;
	text-align:center;
	text-decoration:underline;
	display:inline;
	
}

a.forgot:hover{
	font-family:verdana;
	color:#666666;
	font-size:10px;
	font-weight:bold;
	float:left;
	text-align:center;
	text-decoration:none;
	display:inline;
}

.logintext {
	font-family:arial;
	color:#003333;
	font-size:20px;
	font-weight:bold;
}

<!--end login css-->





<!--start defect css-->

.logout {
	font-family:Verdana;
	float:left;
	font-size:11px;
	font-weight:bold;
	color:#6AB802;
	text-decoration:none;
}



a.logout {
	font-family:Verdana;
	float:left;
	font-size:11px;
	font-weight:bold;
	color:#6AB802;
	text-decoration:none;
}


a.logout:hover {
	font-family:Verdana;
	float:left;
	font-size:11px;
	font-weight:bold;
	color:#4A8200;
	text-decoration:underline;
}

.menu_h1 {
	font-family:Verdana;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#537403;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}

a.menu_h1 {
	font-family:Verdana;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#537403;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}

a.menu_h1:hover {
	font-family:Verdana;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#84BA00;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}


.redio_text {
	font-family:arial;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#537403;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}


.no_text {
	font-family:verdana;
	float:left;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	padding-top:5px;
}


.menu_h2 {
	font-family:Verdana;
	float:left;
	font-size:12px;
	font-weight:normal;
	color:#537403;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}

a.menu_h2 {
	font-family:Verdana;
	float:left;
	font-size:12px;
	font-weight:normal;
	color:#537403;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}

a.menu_h2:hover {
	font-family:Verdana;
	float:left;
	font-size:12px;
	font-weight:normal;
	color:#84BA00;
	text-decoration:none;
	padding-left:6px;
	padding-top:5px;
}


.footer_text {
	font-family:Verdana;
	float:left;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-decoration:none;
	padding-left:15px;
	padding-top:20px;
}


 .wel {
	font-family:Verdana;
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#84BA00;
	padding:12px 0 0 10px;
}


.loginsmall {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
	color: #2C616B;
	float: left;
}

.labelbold {
	font-family:verdana;	
	font-size:11px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	padding-top:5px;
}

.labelsmall {
	font-family:verdana;	
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
	padding-top:5px;
}

<!--end defect css-->